/* body, html {height: 100%;} */

* {
  box-sizing: border-box;
} 


/* Fonts */
/* font-family: 'DM Serif Display', serif; */


body{
  background-color: tan;  /* or tan ? */
  display: block;
  margin: 0px;
  /* margin: 0px; ....for no background all around */
}


/* Navbar */
nav {
    background-color: #ce8653; /*originally #ce8653 */
    padding: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* unordered list - Navigation Bar */
ul {
    list-style-type: none; /* removes bullets */
    float: right; /* Makes navbar go top right */
}

ul li {
    display: inline-block; /* horizontally aligned */
    /* padding-right: 14px; */
    background-color: #844728;      /*originally #844728*/
    border: 1px solid white;
    padding: 10px;
    margin-top: 7px;
    overflow: hidden;  
}

ul li a {
    /* gets rid of underline in link */
    text-decoration: none;  
    color: white;
}

ul li a:hover {
    color: #844728; /* hover text color */
}

ul li:hover:not(.active) {
    background-color: white; /* hover background color */
    border: 1px solid #844728;
}

/* active pending to fix? */
.active {
  padding: 10px;
  padding-right: 14px;
  margin-top: 7px;
  background-color: white;
  color: #844728;
  border: 1px solid #844728;
  overflow: hidden;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
  }

/* Dropdown button */
.dropdown .dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: inherit;
    background-color: inherit;
    font-family: inherit; /* vertical align on mobile phones */
    margin: 0px; /* vertical align on mobile phones */
  }
  
  /* Background color to dropdown tabs on hover */
.dropdown:hover .dropbtn {
    background-color: white;
    color: #844728;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 103px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* helps keep nav over hero */
}
  
  /* Tabs inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    background-color: #844728;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
  /* Background color to dropdown tabs on hover */
.dropdown-content a:hover {
    background-color: tan;
}
  
  /* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    overflow: hidden;
}
/* End of Navbar */


/* Header */
header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  display: block;
}

.hero-image {
  /* "linear-gradient" to add a darken background effect to the image (___.jpg) - makes text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/hero-canyon-river.jpg");
  height: 455px; /*500px*/
  /* Position and center the image to scale well on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Text in the middle of the Image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
/* End of Header */


/* Intro */
.welcome {
  color: #2c0906;
  text-align: center;
  line-height: 1.5;
  background-color: burlywood;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 75px;
}

.welcome p {
  margin-left: 150px;
  margin-right: 150px;
}
/* End of Intro */


hr {
  border: 1px dotted #844728;
}


/* Featured Trip */
.featured-title {
  text-align: center;
  color: white;
  text-shadow: 1px 0px 5px #2c0906;
  /* margin-bottom: 75px; */
  border: 3px solid #2c0906;
  background-color: #ce8653; /*option wine red #8b111e*/
  padding-bottom: 10px;
  margin-top: 25px;
  margin-left: 520px;
  margin-right: 520px;
}

.polaroid {
  float: left;
  width: 32.5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 5px;
  margin-left: 5.9px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.caption {
  text-align: center;
  padding: 10px 20px;
  color: #2c0906;
  text-shadow: none; /*1px 0px 5px #844728;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.featured-description{
  float: left;
  width: 50%;
}

.featured-description i {
  color: #844728;
}

.featured-description h3 {
  text-align: center;
  color: #2c0906;
  font-variant-caps: small-caps;
}

.featured-description p {
  text-indent: 33px;
  line-height: 1.3;
}

.featured-description iframe {
  margin-left: 50px;
  margin-top: 30px;
}

.row-two {
  content: "";
  clear: both;
  display: table;
  margin-left: 28px;
  margin-right: 40px;
  margin-bottom: 25px;
}
/* End of Featured Trip */


/* Playlist/Song and Video of the Week */
.recommendation {
  margin-top: 40px;
}
.audio-rec {
  float: left;
  width: 48.5%;
  height: 515px;
  text-align: center;
  color: white;
  background-color: #844728;
  margin: 10px;
  margin-bottom: 40px;
}

.video-rec {
  float: right;
  width: 48.5%;
  height: 515px;
  text-align: center;
  color: white;
  background-color: #844728;
  margin: 10px;
  margin-bottom: 40px;
}

.audio-rec p, .video-rec p {
  color: rgb(248, 227, 198);
  padding: 10px;
  line-height: 1.1;
}
/* End of Playlist/Song, Video Recommendation */


/* Qoute of the Week */
.quote {
  color: #2c0906;
  text-align: center;
  line-height: 1.2;
  background-color: burlywood;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
  clear: both;
}
/* End of Quote of the Week */


/* Footer */
footer {
    background-color: #ce8653;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #2c0906;
    clear: both;
}

.fa-brands {
  color: #2c0906;
  padding: 4px;
  margin-bottom: 27px;
}

.footer-links {
  padding: 4px;
  text-decoration: none;
  color: #2c0906;
  background-color: tan;
}
/* End of Footer Page */


/* About Page */ 
.about-image {
  float: left;
  margin-right: 20px;
}

.about-description {
  color: #2c0906;
  line-height: 1.5;
  margin-bottom: 75px;
}

#first, #last {
  text-align: center;
}

#middle {
  text-indent: 33px;
}

#about {
  margin-left: 30px;
  margin-right: 30px;
}
/* End of About Page */


/* Contact Page */
.contact-heading {
  text-align: center;
  color: #2c0906;
  margin-bottom: 55px;
}

input[type=text], textarea {    /* no space between input and opening bracket for form to show properly */ 
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(100, 50, 50);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {   /* Style Submit button */
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {    /* Style Submit button on hover */
  background-color: #45a049;
  /* opacity: 0.8; */
}

.contact-container {
  border: 5px solid #844728;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 75px;
}
/* End of Contact Page */


/* Extra --- Blog, Gallery, Community Page */
.hero-image-coming-soon {
  /* "linear-gradient" to add a darken background effect to the image (___.jpg) to make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/hero-canyon-river.jpg");
  height: 455px; /*500px*/
  /* Position and center the image to scale well on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#header-dropdown {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0px;
}
/* End og Etra Pages */